body{
	
	font-family:arial;
	font-size:18px;
}
li{
	list-style:none;
	line-height:2em;
	text-align:left;
}
.header{
	text-align:center;
	background:#f4f4f4;
	border-bottom:#ccc 3px solid;
	padding:20px;
}
.container{
	width:700px;
	margin: 30px auto;
}
.image{
	height : auto;
	width: auto;
}
#myBook{
	margin :100px;
}
#mypara{
	margin : 80px;
	color : green;
	
}